@charset "UTF-8";
@import url(../css/reset.css);
@import url(../css/btn-style__jelly.css);
:root {
  --text-color:#414141;
  --global-color: #3498DB;
  --hover-color:#F39C12;
  --black-color:#161616;
  --white-color:#ffffff;
}

body {
  font-family: TT Norms;
  background-color: white;
  position: relative;
}

body.lock {
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

* img {
  width: 100%;
}

.global-btn {
  display: inline-block;
  padding: 14px 26px;
  border: 1px solid var(--global-color);
  color: var(--global-color);
  border-radius: 69px;
}

.global-header-style {
  font-family: 'TT Norms';
  max-width: 590px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
}

.global-header-style h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.17em;
  color: #737A7D;
}

.global-header-style p {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #161616;
}

.green__icon-style {
  width: 47px;
  height: 47px;
}

.global-text-info {
  font-family: 'TT Norms';
}

.global-text-info h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--black-color);
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-text-info p {
  font-family: 'TT Norms';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
  margin-top: 16px;
}

.frame-worck__icon-style {
  width: 47px;
  height: 47px;
}

.arrow__hover {
  padding-left: 5px;
  width: 32px;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  gap: 10px;
}

.header__logo {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo .dev__republick-logo-tou {
  display: none;
}

@media (max-width: 474px) {
  .header__logo .dev__republick-logo-one {
    display: none;
  }
  .header__logo .dev__republick-logo-tou {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .dev__republick-logo2 {
  max-width: 72px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media (max-width: 768px) {
  .header__navigation {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.header__menu.active {
  left: 0;
}

.header__btn {
  display: inline-block;
  padding: 14px 26px;
  border: 1px solid var(--global-color);
  color: var(--global-color);
  border-radius: 69px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__btn:hover {
  background-color: var(--global-color);
  color: var(--white-color);
}

@media (max-width: 372px) {
  .header__btn {
    padding: 14px 14px;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

@media (max-width: 836px) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding: 60px 30px;
    height: 100%;
    width: 70%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #3498dbab;
    overflow: auto;
  }
}

@media (max-width: 836px) and (any-hover: hover) {
  .menu__body:hover {
    background-color: #3498db;
  }
}

@media (max-width: 836px) {
  .menu__body::-webkit-scrollbar {
    width: 0px;
    /* ширина для вертикального скролла */
    height: 0px;
    /* высота для горизонтального скролла */
  }
}

@media (max-width: 425px) {
  .menu__body {
    min-width: 85%;
  }
}

.menu__link {
  font-family: 'Proxima Nova rg';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #161616;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--global-color);
  }
}

@media (max-width: 836px) {
  .menu__link {
    line-height: 90px;
    font-size: 50px;
    padding: 0 15px;
    color: var(--white-color);
  }
}

@media (max-width: 836px) and (any-hover: hover) {
  .menu__link:hover {
    color: var(--black-color);
  }
}

@media (max-width: 836px) {
  .menu {
    position: absolute;
    top: 0;
    left: -150%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.205);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
  }
  .menu.active {
    left: 0%;
    z-index: 100;
  }
}

@media (max-width: 836px) and (any-hover: hover) {
  .menu:hover {
    color: var(--global-color);
    background-color: rgba(0, 0, 0, 0.397);
  }
}

.menu__icon {
  display: none;
}

@media (max-width: 836px) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 25;
    cursor: pointer;
  }
  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--global-color);
    -webkit-transition: .2s;
    transition: .2s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
}

.menu__icon.active {
  z-index: 1100;
}

.menu__icon.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: var(--white-color);
}

.menu__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.main__container {
  margin-top: 80px;
  width: 100%;
  min-height: 617px;
  font-family: 'TT Norms';
  background: url(../image/logo/background/Illustration.svg) 100% 0% no-repeat;
}

@media (max-width: 1050px) {
  .main__container {
    background: url(../image/logo/background/Illustration.svg) 0% 100% no-repeat;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .main__container {
    margin-top: 40px;
  }
}

.main__screen-info {
  max-width: 684px;
}

.main__screen-info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 68px;
  color: #161616;
  margin-bottom: 30px;
}

.main__screen-info p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #414141;
  margin-bottom: 40px;
}

@media (max-width: 575px) {
  .main__screen-info h1 {
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 20px;
  }
  .main__screen-info p {
    font-weight: 500;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .main__screen-info h1 {
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 20px;
  }
  .main__screen-info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

.global-jelly-btn,
.main__screen-btn {
  display: inline-block;
  padding: 17px 30px;
  border-radius: 69px;
  background: #3498DB;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
}

.global-jelly-btn:hover,
.main__screen-btn:hover {
  color: var(--global-color);
  background-color: var(--white-color);
  border: 1px solid var(--global-color);
}

.services-section {
  margin-top: 72px;
}

.services__wrapper-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
}

@media (max-width: 1250px) {
  .services__wrapper-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services__block-item-right {
  max-width: 30%;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .services__block-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__block {
  max-width: 320px;
  min-height: 174px;
}

.services__block-item-left {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1250px) {
  .services__block-item-left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__block-bottom {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__block-bottom-control {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 355px;
  cursor: pointer;
}

.services__block-control {
  max-width: 413px;
  min-height: 208px;
  border: 1px solid var(--global-color);
  -webkit-transition: .7s;
  transition: .7s;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--white-color);
}

@media (any-hover: hover) {
  .services__block-control:hover {
    border: 1px solid var(--hover-color);
    cursor: pointer;
  }
  .services__block-control:hover .arrow__hover {
    width: 32px;
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 877px) {
  .services__block-control {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
  }
}

@media (max-width: 768px) {
  .services__block-control {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 70%;
  }
}

@media (max-width: 425px) {
  .services__block-control {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    visibility: visible;
    opacity: 1;
  }
}

.quality__section {
  margin-top: 72px;
}

.quality__block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1235px) {
  .quality__block-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.quality__block-container-item {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid var(--global-color);
  border-radius: 10px;
  max-width: 424px;
  min-height: 272px;
  padding: 0 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.quality__block-container-item h2 {
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  color: #00BD7E;
  margin-bottom: 9px;
}

.quality__block-container-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
  margin-bottom: 17px;
  width: 155px;
}

.quality__block-container-item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--black-color);
  margin-bottom: 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.quality__block-container-item .quality-transform {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (any-hover: hover) {
  .quality__block-container-item:hover {
    border: 1px solid var(--hover-color);
  }
  .quality__block-container-item:hover .quality-transform {
    -webkit-transform: translateY(-47px);
            transform: translateY(-47px);
  }
  .quality__block-container-item:hover a {
    visibility: visible;
    opacity: 1;
  }
  .quality__block-container-item:hover .arrow__hover {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1235px) {
  .quality__block-container-item {
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .quality__block-container-item h2 {
    font-size: 52px;
  }
  .quality__block-container-item p {
    font-size: 22px;
  }
  .quality__block-container-item a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .quality__block-container-item {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
}

@media (max-width: 425px) {
  .quality__block-container-item {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.quality-block-1 {
  background: url(../image/logo/preview/puzzle.svg) 100% 50% no-repeat;
  background-color: var(--white-color);
}

.quality-block-2 {
  background: url(../image/logo/preview/mobile.svg) 100% 50% no-repeat;
  background-color: var(--white-color);
}

.quality-block-3 {
  background: url(../image/logo/preview/star.svg) 100% 50% no-repeat;
  background-color: var(--white-color);
}

.portfolio__section {
  margin-top: 140px;
}

.portfolio__block {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .portfolio__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 425px) {
  .portfolio__block {
    width: 100%;
  }
}

.portfolio__block-item {
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
  border: 1px solid var(--global-color);
  border-radius: 10px;
  -webkit-transition: .7s;
  transition: .7s;
  padding-bottom: 30px;
  background-color: var(--white-color);
}

@media (any-hover: hover) {
  .portfolio__block-item:hover {
    border: 1px solid var(--hover-color);
    cursor: pointer;
  }
  .portfolio__block-item:hover a {
    visibility: visible;
    opacity: 1;
  }
  .portfolio__block-item:hover .arrow__hover {
    visibility: visible;
    opacity: 1;
  }
}

.portfolio__block-item a {
  visibility: hidden;
  opacity: 0;
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--black-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.portfolio__block-item a img {
  width: 25px;
  height: 10px;
  margin-left: 5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__block-item img {
  margin-bottom: 30px;
}

.portfolio__block-item span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--global-color);
}

.portfolio__block-item span,
.portfolio__block-item h3,
.portfolio__block-item p,
.portfolio__block-item a {
  padding: 0 30px;
}

.portfolio__block-item p {
  min-height: 102px;
}

.portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 66px;
}

.portfolio-btn a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (any-hover: hover) {
  .portfolio-btn a:hover {
    color: var(--white-color);
    background-color: var(--global-color);
    border: 1px solid var(--global-color);
  }
}

.brend__section {
  margin-top: 170px;
}

@media (max-width: 1024px) {
  .brend__section {
    margin-top: 70px;
  }
}

.brend__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brend__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.brend__block-item img {
  max-width: 150px;
  margin-bottom: 15px;
}

@media (max-width: 320px) {
  .brend__block-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.build__section {
  margin-top: 180px;
}

@media (max-width: 1024px) {
  .build__section {
    margin-top: 70px;
  }
}

.build__section h2 {
  margin-bottom: 12px;
}

.build-btn {
  margin-top: 40px;
}

.swiper__section {
  margin-top: 170px;
}

.swiper__container {
  padding: 0;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.image-swiper-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-swiper-slider img {
  width: 280px;
  height: 280px;
  margin-right: 28px;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (any-hover: hover) {
  .image-swiper-slider img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

.swiper {
  overflow: hidden;
}

.footer__container {
  margin-top: 150px;
}

.footer__center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1060px) {
  .footer__center-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__block-left-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media (max-width: 1060px) {
  .footer__block-left-item {
    width: 70%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer__block-left-item {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__block-right-item {
  width: 50%;
}

@media (max-width: 1060px) {
  .footer__block-right-item {
    width: 100%;
    margin-top: 20px;
  }
}

.footer__center-bottom h3 {
  margin-bottom: 15px;
}

.footer {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#EBF5FB), color-stop(48.44%, rgba(235, 245, 251, 0.35)), to(rgba(235, 245, 251, 0)));
  background: linear-gradient(0deg, #EBF5FB 0%, rgba(235, 245, 251, 0.35) 48.44%, rgba(235, 245, 251, 0) 100%);
}

.block__left-mini-item {
  max-width: 250px;
  max-height: 100px;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.block__left-mini-item img {
  padding-top: 10px;
}

@media (max-width: 545px) {
  .block__left-mini-item img {
    max-width: 90%;
  }
}

@media (max-width: 545px) {
  .block__left-mini-item {
    max-width: 90%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.global-text-info h3 {
  margin-top: 3px;
}

.mini-item__icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  padding-top: 26px;
}

.mini-item__icon-block img {
  width: 30px;
}

.header__footer-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__center-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 80px;
}

@media (max-width: 1060px) {
  .footer__center-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
  }
}

.footer-ul-style li {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  cursor: pointer;
}

.footer__block-mid {
  padding-left: 20px;
}

.footer__bottom-container {
  border-top: 1px solid #CEE9FF;
  margin-top: 52px;
}

.footer__bottom-container .footer-copyright {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-container .footer-copyright a {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__bottom-container .footer-copyright a:hover {
  color: var(--global-color);
}

.bg-shape {
  position: absolute;
  top: 0;
  width: 1500px;
  left: 0%;
  z-index: -4;
}

.bg-shape-right {
  position: absolute;
  overflow: hidden;
  top: 2080px;
  width: 1500px;
  left: 50%;
  z-index: -4;
}

.shape-oval {
  width: 136px;
  height: 142.75px;
  position: absolute;
  top: 3900px;
  left: 10%;
  z-index: -3;
}

.bg-right-l {
  width: 136px;
  height: 142.75px;
  position: absolute;
  top: 2300px;
  left: 10%;
  z-index: -3;
}

.bg-left-l {
  width: 136px;
  height: 142.75px;
  position: absolute;
  top: 800px;
  left: 90%;
  z-index: -3;
}

.page {
  overflow: hidden;
  position: relative;
  max-width: 2700px;
  width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */